/* index - favorite on product picture */
.campaign-slider {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.product-image-wrapper {
    position: relative;
}
.favorite {
    position: absolute;
    top: 0;
    z-index: 12;
    right: 0px;
    font-size: x-large;
    cursor: pointer;
    margin: 3px 8px;
    color: #e84b3a;
}
.favorite span:before {
    color: #ff7b7b;
    content: "\f08a";
    font-style: normal;
    font-family: FontAwesome;
}
.favorite:hover span {
    display: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
.favorite:hover:after {
    color: #ff7b7b;
    content: "\f21e";
    font-family: FontAwesome;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}


/* alertify */
.ajs-message {
    border: 1px dashed !important;
    border-radius: 5px !important;
    text-shadow: none !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
}

.ajs-message.ajs-success {
    background: #ffefef !important;
    border-color: #ffdbdb !important;
    color: #f75656 !important;
}

.ajs-message.ajs-error {
    background: #efefef !important;
    border-color: #cacaca !important;
    color: #696763 !important;
}


/* Product detail - review image part */
.display-product {
    width: 310px;
    border: 1px solid #F7F7F0;
    cursor: -webkit-zoom-in;
}

.product-images {
    display: inline-block;
    margin: 10px 0 0 0;
}

.product-images img {
    width: 100px;
    border: 1px solid #F7F7F0;
    cursor: pointer;
}


/** product **/
.pricePart {
    margin-top: 20px;
    margin-bottom: 10px;
}
.discountTag {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    text-decoration: line-through;
    font-size: 15px;
    font-weight: 500;
}
.priceTag {
    color: #ff7b7b;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 700;
}
.overlay-content .discountTag {
    color: #e6e6e6;
    font-family: 'Roboto', sans-serif;
    text-decoration: line-through;
    font-size: 15px;
    font-weight: 500;
}
.overlay-content .priceTag {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 700;
}
.discountLabel {
    position: absolute;
    top: -10px;
    left: -10px;
}
.discountLabel:hover {
    cursor: pointer;
}
.discountLabel img {
    width: 110px;
}

.table {
    margin-bottom: 0 !important;
}

.deleteFromBag {
    cursor: pointer;
}

.emptyBag td {
    padding: 20px 0 !important;
}

.cart_status {
    font-size: 16px;
}

.cart_price .priceTag {
    font-weight: 400;
}


.cart_quantity {
    width: 122px;
}
.item_total_price {
    color: #ff7b7b;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}

.item_total_price.bold {
    color: #ff7b7b;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700
}

.item_price {
    text-align: right;
    padding-right: 45px !important;
    max-width: 100px;
}

.summary {
    font-size: 15px;
    color: #363432;
}

.summary .item_price{
    font-size: 15px;
}



.panel.plus .panel-body {
    padding: 0px;
}

.panel.plus .jsgrid-pager {
    padding-left: 20px;
}

.panel.plus .jsgrid-grid-header, .panel.plus .jsgrid-grid-body {
    border: none;
}



/* product details */
.product-details-name {
    font-size: 20px;
    font-weight: 500;
}
.product-details-id {
    font-size: 13px;
}
.product-details-rating {
    font-size: 13px;
}
.product-details-price {
    margin-top: 30px !important;
    font-size: 24px;
    font-weight: 500;
    color: #FE980F;
}
.product-details-quantity {
    font-size: 15px;
    margin-bottom: 30px !important;
}
.product-details-quantity button {
    margin: 0 0 0 10px;
}

.product-details-status, .product-details-description, .product-details-detail {
    margin: 12px 0 20px;
    font-size: 14px;
}
.product-details-status span {
    display: inline-block;
    margin: 0 auto;
}
.product-details-description span, .product-details-detail span {
    display: block;
    margin: 0 auto;
}