/* index - favorite on product picture */
.campaign-slider {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.product-image-wrapper {
    position: relative;
}
.favorite {
    position: absolute;
    top: 0;
    z-index: 12;
    right: 0px;
    font-size: x-large;
    cursor: pointer;
    margin: 3px 8px;
    color: #e84b3a;
}
.favorite span:before {
    color: #ff7b7b;
    content: "\f08a";
    font-style: normal;
    font-family: FontAwesome;
}
.favorite:hover span {
    display: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
.favorite:hover:after {
    color: #ff7b7b;
    content: "\f21e";
    font-family: FontAwesome;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}


/* alertify */
.ajs-message {
    border: 1px dashed !important;
    border-radius: 5px !important;
    text-shadow: none !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
}

.ajs-message.ajs-success {
    background: #ffefef !important;
    border-color: #ffdbdb !important;
    color: #f75656 !important;
}

.ajs-message.ajs-error {
    background: #efefef !important;
    border-color: #cacaca !important;
    color: #696763 !important;
}


/* Product detail - review image part */
.display-product {
    width: 310px;
    border: 1px solid #F7F7F0;
    cursor: -webkit-zoom-in;
}

.product-images {
    display: inline-block;
    margin: 10px 0 0 0;
}

.product-images img {
    width: 100px;
    border: 1px solid #F7F7F0;
    cursor: pointer;
}


/** product **/
.pricePart {
    margin-top: 20px;
    margin-bottom: 10px;
}
.discountTag {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    text-decoration: line-through;
    font-size: 15px;
    font-weight: 500;
}
.priceTag {
    color: #ff7b7b;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 700;
}
.overlay-content .discountTag {
    color: #e6e6e6;
    font-family: 'Roboto', sans-serif;
    text-decoration: line-through;
    font-size: 15px;
    font-weight: 500;
}
.overlay-content .priceTag {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 700;
}
.discountLabel {
    position: absolute;
    top: -10px;
    left: -10px;
}
.discountLabel:hover {
    cursor: pointer;
}
.discountLabel img {
    width: 110px;
}