<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Cart - Jennifer webstore</title>
	<object th:include="common/header :: common-header-customer" th:remove="tag"></object>
	<!--<style>-->
		<!--.favotire_product img{-->
			<!--width: 100px;-->
			<!--height: 120px;-->
		<!--}-->
	<!--</style>-->
</head>

<body>
	<div th:replace="common/navbar :: common-navbar-customer" th:remove="tag"></div>

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description">Name</td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="product : ${shoppingBag}" th:attr="id='cardProduct' + ${product.key.id}">
							<td th:each="productImage,iter : ${#strings.arraySplit(product.key.image, ',')}" th:if="${iter.index} == 0" class="favotire_product cart_product">
								<a th:href="${'/product/' + product.key.id}"><img th:src="@{/pics/{iName}(iName=${productImage})}" alt="" /></a>
							</td>
							<td class="cart_description">
								<h4><a th:href="@{'/product/'+{product.key.id}}" th:text="${product.key.name}">Colorblock Scuba</a></h4>
								<p>Web ID: 1089772</p>
							</td>
							<td class="cart_price">
								<span class="discountTag" th:if="${product.key.discount > 0}" th:text="${product.key.unitPrice}" ></span>
								<span th:class="${'priceTag priceTag_'+{product.key.id}}" th:text="'€' + ${product.key.unitPrice * (100-product.key.discount)/ 100}"></span>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href="" th:attr="data-product-id=${product.key.id}"> + </a>
									<input th:class="${'cart_quantity_input cart_quantity_id_'+product.key.id}" type="text" name="quantity" th:attr="value= ${product.value}" autocomplete="off" size="2" />
									<a class="cart_quantity_down" href="" th:attr="data-product-id=${product.key.id}"> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p th:class="${'cart_total_price cart_total_price_'+{product.key.id}}" th:text="'€' + ${(product.key.unitPrice * (100-product.key.discount)/ 100) * product.value}">$59</p>
							</td>
							<td class="cart_delete">
								<a  class="cart_quantity_delete del-cart" th:attr="data-cart=${product.key.id}" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>What would you like to do next?</h3>
				<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="chose_area">
						<ul class="user_option">
							<li>
								<input type="checkbox" />
								<label>Use Coupon Code</label>
							</li>
							<li>
								<input type="checkbox" />
								<label>Use Gift Voucher</label>
							</li>
							<li>
								<input type="checkbox" />
								<label>Estimate Shipping - Taxes</label>
							</li>
						</ul>
						<ul class="user_info">
							<li class="single_field">
								<label>Country:</label>
								<select>
									<option>United States</option>
									<option>Bangladesh</option>
									<option>UK</option>
									<option>India</option>
									<option>Pakistan</option>
									<option>Ucrane</option>
									<option>Canada</option>
									<option>Dubai</option>
								</select>
								
							</li>
							<li class="single_field">
								<label>Region / State:</label>
								<select>
									<option>Select</option>
									<option>Dhaka</option>
									<option>London</option>
									<option>Dillih</option>
									<option>Lahore</option>
									<option>Alaska</option>
									<option>Canada</option>
									<option>Dubai</option>
								</select>
							
							</li>
							<li class="single_field zip-field">
								<label>Zip Code:</label>
								<input type="text" />
							</li>
						</ul>
						<a class="btn btn-default update" href="">Get Quotes</a>
						<a class="btn btn-default check_out" href="">Continue</a>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Cart Sub Total <span>$59</span></li>
							<li>Eco Tax <span>$2</span></li>
							<li>Shipping Cost <span>Free</span></li>
							<li>Total <span>$61</span></li>
						</ul>
							<a class="btn btn-default update" href="">Update</a>
							<a class="btn btn-default check_out" href="">Check Out</a>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->

	<div th:replace="common/footer :: common-footer-customer" th:remove="tag"></div>

	<div th:replace="common/footer :: common-footer-scripts-customer" th:remove="tag"></div>

	<script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
			/*<![CDATA[*/
            $('.del-cart').click(function (e) {
                e.preventDefault();
                var cartProduct = 'cardProduct' + $(this).data("cart");
                $.ajax({
                    type: "DELETE",
                    url: "/api/shopping-product/"+$(this).data("cart"),
                    dataType: "json"
                }).done(function (data, textStatus, jqXHR) {
                    $('.added-item-cart').text(data);

                    $('#' + cartProduct).remove();
                    alertify.success("<i class='fa fa-remove'></i> Delete favorite product!");
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alertify.error("<i class='fa fa-exclamation-triangle'></i> " + jqXHR.responseText + "!");
                });
            });

            $('.cart_quantity_up').click(function(e){
                e.preventDefault();
                let productQuantity = parseFloat($(".cart_quantity_id_"+$(this).data("product-id")).val());
                productQuantity++;
                let currentPrice = parseFloat($(".priceTag_"+$(this).data("product-id")).text().slice(1));
                let newPrice = productQuantity * currentPrice;
                $(".cart_quantity_id_"+$(this).data("product-id")).val(productQuantity);
                $(".cart_total_price_"+$(this).data("product-id")).text(newPrice);
                $.ajax({
                    type: "PUT",
                    url: "/api/shopping-product/q/"+$(this).data("product-id")+"/"+productQuantity,
                    dataType: "json"
                }).done(function (data, textStatus, jqXHR) {
                    $('.added-item-cart').text(data);
                    alertify.success("<i class='fa fa-cart-plus'></i> Updated your cart!");
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alertify.error("<i class='fa fa-exclamation-triangle'></i> " + jqXHR.responseText + "!");
                });
			});

            $('.cart_quantity_down').click(function(e){
                e.preventDefault();
                let productQuantity = parseFloat($(".cart_quantity_id_"+$(this).data("product-id")).val());
                productQuantity--;
                let currentPrice = parseFloat($(".priceTag_"+$(this).data("product-id")).text().slice(1));
                let newPrice = productQuantity * currentPrice;
                $(".cart_quantity_id_"+$(this).data("product-id")).val(productQuantity);
                $(".cart_total_price_"+$(this).data("product-id")).text(newPrice);
                $.ajax({
                    type: "PUT",
                    url: "/api/shopping-product/q/"+$(this).data("product-id")+"/"+productQuantity,
                    dataType: "json"
                }).done(function (data, textStatus, jqXHR) {
                    $('.added-item-cart').text(data);
                    alertify.success("<i class='fa fa-cart-plus'></i> Updated to your cart!");
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alertify.error("<i class='fa fa-exclamation-triangle'></i> " + jqXHR.responseText + "!");
                });
            });

			/*]]>*/

        });
	</script>
</body>
</html>