<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Cart - Jennifer webstore</title>
	<object th:include="common/header :: common-header-customer" th:remove="tag"></object>
	<style>
		.tr_total {
			border-bottom: none !important;
		}
	</style>
</head>

<body class="animated fadeIn">
	<div th:replace="common/navbar :: common-navbar-customer" th:remove="tag"></div>

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a th:href="@{/}">Home</a></li>
					<li class="active"><a th:href="@{/cart}">Shopping Cart</a></li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="text-center">Image</td>
							<td >Name</td>
							<td class="item_price">Price</td>
							<td class="text-center">Quantity</td>
							<td class="item_price">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody class="cart_content">
						<tr th:each="product : ${shoppingBag}" th:attr="id='cardProduct' + ${product.key.id}" class="product-record">
							<td th:each="productImage,iter : ${#strings.arraySplit(product.key.image, ',')}" th:if="${iter.index== 0} " class="favotire_product cart_product text-center">
								<a th:href="${'/product/' + product.key.id}"><img th:src="${'/pics/' + productImage}" alt="" /></a>
							</td>
							<td class="cart_description">
								<h4><a th:href="${'/product/'+product.key.id}" th:text="${product.key.name}"></a></h4>
								<p th:text="${'Reference ID: '+product.key.id}"></p>
							</td>
							<td class="cart_price item_price">
								<span class="discountTag" th:if="${product.key.discount > 0}" th:text="${product.key.unitPrice}" ></span>
								<span th:class="${'priceTag priceTag_'+product.key.id}" th:text="'€' + ${product.key.unitPrice * (100-product.key.discount)/ 100}"></span>
							</td>
							<td class="cart_quantity text-center">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href="" th:attr="data-product-id=${product.key.id}"> + </a>
									<input th:class="${'cart_quantity_input cart_quantity_id_' + product.key.id}" type="text" name="quantity" th:attr="value= ${product.value}" autocomplete="off" size="2" />
									<a class="cart_quantity_down" href="" th:attr="data-product-id=${product.key.id}"> - </a>
								</div>
							</td>
							<td class="cart_total item_price">
								<span th:class="${'item_total_price cart_total_price cart_total_price_' + product.key.id}" th:text="'€' + ${(product.key.unitPrice * (100-product.key.discount)/ 100) * product.value}">$59</span>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete del-cart deleteFromBag" th:attr="data-cart=${product.key.id}" title="Delete this product"><i class="fa fa-times"></i></a>
							</td>
						</tr>
						<div th:if="${not #maps.isEmpty(shoppingBag)}" th:remove="tag">
							<tr class="tr_total">
								<td colspan="3"></td>
								<td class="summary">Total before tax</td>
								<td class="text-center item_price item_total_price">
									<span class="order_before_tax"></span>
								</td>
							</tr >
							<tr class="tr_total">
								<td colspan="3"></td>
								<td class="summary">Tax</td>
								<td class="text-center item_price item_total_price">
									<span class="order_tax"></span>
								</td>
							</tr>
							<tr class="tr_total">
								<td colspan="3"></td>
								<td class="summary">Order total</td>
								<td class="text-center item_price item_total_price bold">
									<span class="order_total"></span>
								</td>
							</tr>
							<tr>
								<td colspan="4"></td>
								<td colspan="2" class="text-center shopper-info" >
									<a class="btn btn-primary" th:href="@{/checkout}" style="margin: 20px 10px !important;">Check out</a>
								</td>
							</tr>
						</div>

						<tr th:if="${#maps.isEmpty(shoppingBag)}" class="emptyBag">
							<td colspan="6" class="text-center"> No products found ! </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<div th:replace="common/footer :: common-footer-customer" th:remove="tag"></div>

	<div th:replace="common/footer :: common-footer-scripts-customer" th:remove="tag"></div>

	<script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
			/*<![CDATA[*/
            $('.del-cart').click(function (e) {
                e.preventDefault();
				deleteProductFromCart($(this).data("cart"));
            });

            updateTotal();

            $('.cart_quantity_up').click(function(e){
                e.preventDefault();
                let productId = $(this).data("product-id");
                let productQuantity = parseFloat($(".cart_quantity_id_"+productId).val());
				productQuantity++;
                let currentPrice = parseFloat($(".priceTag_"+productId).text().slice(1)); // cut off the euro currency sign
                let newPrice = productQuantity * currentPrice;
                $(".cart_quantity_id_"+productId).val(productQuantity);
                $(".cart_total_price_"+productId).text('€'+parseFloat(newPrice).toFixed(2));
                $.ajax({
                    type: "PUT",
                    url: "/api/shopping-product/q/"+productId+"/"+productQuantity,
                    dataType: "json"
                }).done(function (data, textStatus, jqXHR) {
                    $('.added-item-cart').text(data);
                    alertify.success("<i class='fa fa-cart-plus'></i> Updated your cart!");
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alertify.error("<i class='fa fa-exclamation-triangle'></i> " + jqXHR.responseText + "!");
                });
                updateTotal();
			});

            $('.cart_quantity_down').click(function(e){
                e.preventDefault();
                let productId = $(this).data("product-id");
                let productQuantity = parseFloat($(".cart_quantity_id_"+productId).val());

                if(productQuantity>1) {
                    productQuantity--;
				} else {
					deleteProductFromCart(productId);
					$(this).closest("tr").fadeOut("normal", function() {
						$(this).remove();
					});

                    return false;
				}

                let currentPrice = parseFloat($(".priceTag_"+productId).text().slice(1)); // cut off the euro currency sign
                let newPrice = productQuantity * currentPrice;
                $(".cart_quantity_id_"+productId).val(productQuantity);
				$(".cart_total_price_"+productId).text('€'+parseFloat(newPrice).toFixed(2));
                $.ajax({
                    type: "PUT",
                    url: "/api/shopping-product/q/"+productId+"/"+productQuantity,
                    dataType: "json"
                }).done(function (data, textStatus, jqXHR) {
                    $('.added-item-cart').text(data);
                    alertify.success("<i class='fa fa-cart-plus'></i> Updated your cart!");
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alertify.error("<i class='fa fa-exclamation-triangle'></i> " + jqXHR.responseText + "!");
                });
                updateTotal();
            });

            function updateTotal(){
                var sum = 0;
                $('.cart_total_price').each(function(){
                    sum += parseFloat($(this).text().slice(1));
                });
                $('.order_total').text('€'+sum.toFixed(2));
                $('.order_before_tax').text('€'+(sum*0.85).toFixed(2));
                $('.order_tax').text('€'+(sum*0.15).toFixed(2));
			};

            function deleteProductFromCart(productId){
                var cartProduct = 'cardProduct' + productId;
                $.ajax({
                    type: "DELETE",
                    url: "/api/shopping-product/" + productId,
                    dataType: "json"
                }).done(function (data, textStatus, jqXHR) {
                    if($(".cart_content").find("tr.product-record").length <= 1){
                        window.location.reload();
                    } else {
                        $('.added-item-cart').text(data);
                        $('#' + cartProduct).remove();
                        alertify.success("<i class='fa fa-remove'></i> Removed from your cart!");
                    }
                    updateTotal();
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alertify.error("<i class='fa fa-exclamation-triangle'></i> " + jqXHR.responseText + "!");
                });
			}

			/*]]>*/

        });
	</script>
</body>
</html>