<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Jennifer - Online shopping webstore</title>
    <object th:include="common/header :: common-header-customer" th:remove="tag"></object>
    <style>

    </style>
</head>

<body>
<div th:replace="common/navbar :: common-navbar-customer" th:remove="tag"></div>

<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 well-lg">
                <div th:if="${#lists.isEmpty(availableCampaigns) }" class="campaign-slider">
                    <img th:src="@{/custom/co/images/home/default-banner.jpg}" />
                </div>

                <div th:unless="${#lists.isEmpty(availableCampaigns) }" class="campaign-slider">
                    <img th:each="campaign : ${availableCampaigns}" th:src="@{/pics/{banner}(banner=${campaign.banner})}" />
                </div>
            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <!--<div th:replace="common/sidebar :: common-sidebar-customer" th:remove="tag"></div>-->
            <div id = "categorySidebar"></div>

            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center" th:text="${categoryInfo.superCategoryInfo.name + ' - '+ categoryInfo.name}">Features Items</h2>

                    <div th:replace="common/product :: printProduct(productList=${productInfos})" ></div >

                </div><!--features_items-->
            </div>
        </div>
    </div>
</section>

<div th:replace="common/footer :: common-footer-customer" th:remove="tag"></div>

<div th:replace="common/footer :: common-footer-scripts-customer" th:remove="tag"></div>

<script type="text/javascript" th:inline="javascript">
    $(document).ready(function(){
        $('.campaign-slider').slick({
            dots: true,
            infinite: true,
            speed: 300,
            fade: true,
            autoplay: true,
            cssEase: 'linear',
            adaptiveHeight: true
        });

        // TODO have not create api for PUT yet
        $('.favorite').click(function(){
            $.ajax({
                type: "PUT",
                url: "/api/favorite",
                dataType: "json",
                data: JSON.stringify({
                    id: $(this).data("favorite")
                })
            }).done(function (data, textStatus, jqXHR) {
                alertify.success("Added to your favorite!");
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alertify.error(jqXHR.responseText);
            });
        });

        /*<![CDATA[*/
        var category_url = /*[[@{'/categories'}]]*/"";
        /*]]>*/

        $('#categorySidebar').load(category_url);
    });
</script>

</body>
</html>