<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Jennifer - Online shopping webstore</title>
    <object th:include="common/header :: common-header-customer" th:remove="tag"></object>
    <style>

    </style>
</head>

<body>
<div th:replace="common/navbar :: common-navbar-customer" th:remove="tag"></div>

<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 well-lg">
                <div th:if="${#lists.isEmpty(availableCampaigns) }" class="campaign-slider">
                    <img th:src="@{/custom/co/images/home/default-banner.jpg}" />
                </div>

                <div th:unless="${#lists.isEmpty(availableCampaigns) }" class="campaign-slider">
                    <img th:each="campaign : ${availableCampaigns}" th:src="@{/pics/{banner}(banner=${campaign.banner})}" />
                </div>
            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <!--<div th:replace="common/sidebar :: common-sidebar-customer" th:remove="tag"></div>-->
            <div id = "categorySidebar"></div>

            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center" th:text="${categoryInfo.superCategoryInfo.name + ' - '+ categoryInfo.name}">Features Items</h2>

                    <div th:replace="common/product :: printProduct(productList=${productInfos})" ></div >

                </div><!--features_items-->
            </div>
        </div>
    </div>
</section>

<div th:replace="common/footer :: common-footer-customer" th:remove="tag"></div>

<div th:replace="common/footer :: common-footer-scripts-customer" th:remove="tag"></div>

<script type="text/javascript" th:inline="javascript">
    $(document).ready(function(){
        $('.campaign-slider').slick({
            dots: true,
            infinite: true,
            speed: 300,
            fade: true,
            autoplay: true,
            cssEase: 'linear',
            adaptiveHeight: true
        });

        /*<![CDATA[*/
        var category_url = /*[[@{'/categories'}]]*/"";

        $('.favorite').click(function(e){
            e.preventDefault();
            $.ajax({
                type: "PUT",
                url: "/api/favorite-product/"+$(this).data("favorite"),
                dataType: "json"
            }).done(function (data, textStatus, jqXHR) {
                $('.added-item-favorite').text(data);
                alertify.success("<i class='fa fa-heart'></i> Added to your favorite!");
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alertify.error("<i class='fa fa-exclamation-triangle'></i> " + jqXHR.responseText + "!");
            });
        });
        $('.add-to-cart').click(function(e){
            e.preventDefault();
            $.ajax({
                type: "PUT",
                url: "/api/shopping-product/"+$(this).data("cart"),
                dataType: "json"
            }).done(function (data, textStatus, jqXHR) {
                $('.added-item-cart').text(data);
                alertify.success("<i class='fa fa-cart-plus'></i> Added to your cart!");
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alertify.error("<i class='fa fa-exclamation-triangle'></i> " + jqXHR.responseText + "!");
            });
        });

        /*]]>*/

        $('#categorySidebar').load(category_url);
    });
</script>

</body>
</html>