<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Contact - Jennifer webstore</title>
    <object th:include="common/header :: common-header-customer" th:remove="tag"></object>
    <style>
        .contact-developer {
            margin: 10px;
        }
        .contact-developer div {
            margin: 10px;
        }
        .credit {
            font-size: 15px;
            color: #696763;
        }
        .credit p {
            margin-bottom: 0;
        }
    </style>
</head>

<body class="animated fadeIn">
<div th:replace="common/navbar :: common-navbar-customer" th:remove="tag"></div>

<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title text-center" style="margin: 30px 0 0 10px">Contact <strong>Us</strong></h2>
                <!--<div id="map" class="contact-map">-->

                <div class="well-lg">
                    <iframe
                            width="100%"
                            height="450"
                            frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDmwadXifrvyUUqar7JvaDGciRWb2GyGWM&amp;q=Olympikatu+10,Vaasa+Finland"
                            allowfullscreen="allowfullscreen">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="contact-form">
                <h2 class="title text-center">Get In Touch</h2>
                <div class="status alert alert-success" style="display: none"></div>
                <form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                    <div class="form-group col-md-6">
                        <input type="text" name="name" class="form-control" required="required" placeholder="Name"/>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" name="email" class="form-control" required="required" placeholder="Email"/>
                    </div>
                    <div class="form-group col-md-12">
                        <input type="text" name="subject" class="form-control" required="required"
                               placeholder="Subject"/>
                    </div>
                    <div class="form-group col-md-12">
                        <textarea name="message" id="message" required="required" class="form-control" rows="8"
                                  placeholder="Your Message Here"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <input type="submit" name="submit" class="btn btn-primary pull-right disabled" value="Submit"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="contact-info">
                <h2 class="title text-center">Developers</h2>
                <address class="contact-developer text-center">
                    <div style="margin-bottom: 20px">
                        <h4>Hoang Phuc</h4>
                        <p>Mobile: +358 41 491 4728</p>
                        <p>Email: jamesho287@gmail.com</p>
                    </div>
                    <div>
                        <h4>Hien Nguyen</h4>
                        <p>Mobile: +358 41 369 6774</p>
                        <p>Email: lily31392@gmail.com</p>
                    </div>
                </address>
            </div>
            <div class="contact-info">
                <div class="social-networks">
                    <h2 class="title text-center">Social Networking</h2>
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="credit" class="col-sm-12">
            <h2 class="title text-center">Credits</h2>
            <address class="credit text-center">
                <div style="margin-bottom: 20px" class="col-sm-4">
                    <h4>H &amp; M</h4>
                    <p>For the demonstration of products on this webstore</p>
                </div>
                <div style="margin-bottom: 20px" class="col-sm-4">
                    <h4>Themium &amp; Brainstation-23</h4>
                    <p>For basic customer UI design on this webstore</p>
                    <p>Powered by <strong>nopCommerce</strong></p>
                </div>
                <div style="margin-bottom: 20px" class="col-sm-4">
                    <h4>Start Bootstrap</h4>
                    <p>For basic manager UI design on this webstore</p>
                    <p>Powered by <strong>MIT</strong></p>
                </div>
                <div class="col-sm-12">
                    <h4>Other contributors</h4>
                    <p>From the smallest part to the big module on this webstore</p>
                </div>
            </address>
        </div>
    </div>
</div><!--/#contact-page-->

<div th:replace="common/footer :: common-footer-customer" th:remove="tag"></div>

<div th:replace="common/footer :: common-footer-scripts-customer" th:remove="tag"></div>
</body>
</html>

