<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Favorite - Jennifer webstore</title>
	<object th:include="common/header :: common-header-customer" th:remove="tag"></object>
</head>

<body>
	<div th:replace="common/navbar :: common-navbar-customer" th:remove="tag"></div>

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a th:href="@{/}">Home</a></li>
				  <li class="active">Favorite</li>
				</ol>
			</div>

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="text-center">Image</td>
							<td>Product name</td>
							<td>Price</td>
							<td class="text-center">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="cart_product">
								<a href=""><img th:src="@{/custom/co/images/cart/one.png}" alt="" /></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Colorblock Scuba</a></h4>
								<p>Web ID: 1089772</p>
							</td>
							<td class="cart_price">
								<p>$59</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2" />
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">$59</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<div th:replace="common/footer :: common-footer-customer" th:remove="tag"></div>

	<div th:replace="common/footer :: common-footer-scripts-customer" th:remove="tag"></div>

</body>
</html>