<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Product details - Jennifer webstore</title>
	<object th:include="common/header :: common-header-customer" th:remove="tag"></object>
	<style>
		/* product details */
		.product-details-name {
			font-size: 20px;
			font-weight: 500;
		}
		.product-details-id {
			font-size: 13px;
		}
		.product-details-rating {
			font-size: 13px;
		}
		.product-details-price {
			margin-top: 30px !important;
			font-size: 24px;
			font-weight: 500;
			color: #FE980F;
		}
		.product-details-quantity {
			font-size: 15px;
			margin-bottom: 30px !important;
		}
		.product-details-quantity button {
			margin: 0 0 0 10px;
		}

		.product-details-status, .product-details-description, .product-details-detail {
			margin: 12px 0 20px;
			font-size: 14px;
		}
		.product-details-status span {
			display: inline-block;
			margin: 0 auto;
		}
		.product-details-description span, .product-details-detail span {
			display: block;
			margin: 0 auto;
		}


	</style>
</head>

<body>
	<div th:replace="common/navbar :: common-navbar-customer" th:remove="tag"></div>
	
	<section>
		<div class="container">
			<div class="row">
				<div th:replace="common/sidebar :: common-sidebar-customer" th:remove="tag"></div>
				
				<div class="col-sm-9 padding-right">
					<div class="product-details" th:with="productImages = ${#strings.arraySplit(productInfo.image, ',')}"><!--product-details-->
						<div class="col-sm-5">
							<img class="display-product" th:attr="data-zoom=${'/pics/' + productImages[0]}" th:src="${'/pics/' + productImages[0]}" />
							<div class="product-images">
								<img th:each="productImage,iter : ${productImages}" th:src="${'/pics/' + productImage}" th:attr="data-zoom=${'/pics/' + productImage}" />
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<!--<img th:src="@{/custom/co/images/product-details/new.jpg}" class="newarrival" alt="" />-->
								<p class="product-details-name" th:text="${productInfo.name}"></p>
								<p class="product-details-id" >Web ID: 1089772</p>
								<p class="product-details-rating" ><img th:src="@{/custom/co/images/product-details/rating.png}" alt="" /></p>
								<p class="product-details-price">
									<span class="discountTag" th:if="${productInfo.discount > 0}" th:text="${productInfo.unitPrice}" ></span>
									<span class="priceTag" th:text="'€' + ${productInfo.unitPrice * (100-productInfo.discount)/ 100}"></span>
								</p>
								<p class="product-details-quantity" >
									<label>Quantity:</label>
									<input class="select-quantity text-center" type="number" value="1" size="6" min="0" max="50" />
									<button type="button" class="btn btn-fefault cart"><i class="fa fa-shopping-cart"></i> Add to cart</button>
								</p>
								<p class="product-details-status" >
									<label>Status:</label>
									<span th:text="${#strings.capitalize(productInfo.status)}"></span>
								</p>
								<p class="product-details-description" >
									<label>Description:</label>
									<span th:text="${#strings.capitalize(productInfo.description)}"></span>
								</p>
								<p class="product-details-detail" >
									<label>Detail:</label>
									<span th:text="${#strings.capitalize(productInfo.detail)}"></span>
								</p>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">Relevant items</h2>
						<div class="same-category-product">

							<div th:each="sameCategoryProduct : ${sameCategoryProducts}">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center" th:with="productRelatedImages = ${#strings.arraySplit(sameCategoryProduct.image, ',')}">
											<img class="display-product" th:src="${'/pics/' + productRelatedImages[0]}" />
											<p class="product-details-price">
												<span class="discountTag" th:if="${sameCategoryProduct.discount > 0}" th:text="${sameCategoryProduct.unitPrice}" ></span>
												<span class="priceTag" th:text="'€' + ${sameCategoryProduct.unitPrice * (100-sameCategoryProduct.discount)/ 100}"></span>
											</p>
											<p th:text="${sameCategoryProduct.name}">Easy Polo Black Edition</p>
											<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</button>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div><!--/recommended_items-->
					
				</div>
			</div>
		</div>
	</section>

	<div th:replace="common/footer :: common-footer-customer" th:remove="tag"></div>

	<div th:replace="common/footer :: common-footer-scripts-customer" th:remove="tag"></div>

	<script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){

            var triggerEl = document.querySelector('.display-product');
            var drift = new Drift(triggerEl, {
                paneContainer: document.querySelector('.product-information'),
                inlinePane: 900,
                inlineOffsetY: -85,
                containInline: true,
                hoverBoundingBox: false,
                zoomFactor: 3
            });

            $('.product-images img').click(function(){
                var image = $(this).data('zoom');
                $('.display-product').attr('src', image).data('zoom', image);
                drift.setZoomImageURL(image);
                triggerEl.setAttribute('data-zoom', image);
			});

			/*<![CDATA[*/
            $('.select-quantity').change(function(){
                if($(this).val() <= 0)
                    $('.btn.cart').attr("disabled", "disabled");
                else
                    $('.btn.cart').removeAttr("disabled");
			});
			/*]]>*/
            $('.btn.cart').change(function(){
                console.log("add to cart");
            });

            $('.same-category-product').slick({
                dots: true,
                infinite: false,
                speed: 300,
                slidesToShow: 4,
                slidesToScroll: 4,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ]
            });

        });
	</script>

</body>
</html>