<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Jennifer - Administration Section</title>
    <object th:include="common/header :: common-header-manager" th:remove="tag"></object>
</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div th:replace="common/navbar :: common-navbar-header-manager" th:remove="tag"></div>
            <div th:replace="common/navbar :: common-navbar-manager" th:remove="tag"></div>
            <div th:replace="common/sidebar :: common-sidebar-manager" th:remove="tag"></div>
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Manager's dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <!--<div class="huge">26</div>-->
                                    <!--<div>New Comments!</div>-->
                                </div>
                            </div>
                        </div>
                        <a >
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <!--<div class="huge">12</div>-->
                                    <!--<div>New Tasks!</div>-->
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div id = "newOrder" class="huge"></div>
                                    <div>New Orders!</div>
                                </div>
                            </div>
                        </div>
                        <a th:href="@{/manager/order}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <!--<div class="huge">13</div>-->
                                    <!--<div>Support Tickets!</div>-->
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

        <div th:replace="common/footer :: credit-footer-manager" th:remove="tag"></div>

    </div>
    <!-- /#wrapper -->

    <div th:replace="common/footer :: common-footer-scripts-manager" th:remove="tag"></div>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let context = /*[[@{~/}]]*/"";
        /*]]>*/

        $(function () {
            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
        });

        $(document).ready(function () {
            let getNewOrder = function () {
                return $.ajax({
                    type: "GET",
                    url: "/api/order/new",
                    dataType: 'json',
                }).done(function (data) {
                    $('#newOrder').text(data);
                });
            }

            getNewOrder();
        });

    </script>

</body>

</html>
