<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Order - Jennifer's manager section</title>
    <object th:include="common/header :: common-header-manager" th:remove="tag"></object>
</head>

<body>

<div id="wrapper">

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div th:replace="common/navbar :: common-navbar-header-manager" th:remove="tag"></div>
        <div th:replace="common/navbar :: common-navbar-manager" th:remove="tag"></div>
        <div th:replace="common/sidebar :: common-sidebar-manager" th:remove="tag"></div>
    </nav> <!-- /.nav -->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Order</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel plus panel-default animated fadeIn">
                    <div class="panel-heading">
                        <i class="fa fa-list-alt"></i> Order
                    </div><!-- /.panel-heading -->

                    <div class="panel-body">
                        <div id="order-grid"></div> <!-- for order table -->

                    </div><!-- /.panel-body -->
                </div>  <!-- /.panel -->

                <div class="panel plus panel-default animated fadeIn">
                    <div class="panel-heading">
                        <i class="fa fa-cubes"></i> Order Detail
                    </div><!-- /.panel-heading -->

                    <div class="panel-body">

                        <div id="order-detail-grid"></div> <!-- for order detail table -->
                    </div><!-- /.panel-body -->
                </div>  <!-- /.panel -->

            </div><!-- /.col-lg-12 -->

        </div><!-- /.row -->

    </div><!-- /#page-wrapper -->

</div> <!-- /#wrapper -->

<div th:replace="common/footer :: common-footer-scripts-manager" th:remove="tag"></div>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    let context = /*[[@{~/}]]*/"";
    /*]]>*/

    $(function () {
        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
    });

    $(document).ready(function () {
        let orderDb = {
            loadData: function (filter) { // load date from db

                return $.ajax({
                    type: "GET",
                    url: "/api/order",
                    data: filter,
                    dataType: "json"
                }).done(function (response) {
                    console.log(response);
                });
            },

            updateItem: function (item) {

                return $.ajax({
                    type: "PUT",
                    url: "/api/order",
                    data: JSON.stringify(item),
                    dataType: "json"
                }).done(function (updatedItemReturnedFromServer) {
                    alertify.success("Successfully updated!");
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alertify.error(jqXHR.responseText);
                });
            }// update data
        };


        $("#order-grid").jsGrid({
            width: "100%",
            height: "auto",

            autoload: true,

            heading: true,
            filtering: false,
            inserting: false,
            editing: true,
            sorting: true,
            paging: true,
            //pageLoading: true,

            noDataContent: "No order found",

            rowClick: function (args) {
                let selectedId = args.item.id;
                //console.log(selectedId);
                searchData(selectedId);
            },

            pagerContainer: null,
            pageIndex: 1,
            pageSize: 10,
            pageButtonCount: 15,
            pagerFormat: "Pages: {first} {prev} {pages} {next} {last}    {pageIndex} of {pageCount}",
            pagePrevText: "Prev",
            pageNextText: "Next",
            pageFirstText: "First",
            pageLastText: "Last",
            pageNavigatorNextText: "...",
            pageNavigatorPrevText: "...",

            loadIndication: true,
            loadIndicationDelay: 200,
            loadMessage: "Please, wait...",
            loadShading: true,

            updateOnResize: true,

            controller: orderDb,

            fields: [
                {title: "ID", name: "id", type: "number", width: 10, align: "center", editing: false},
                {
                    title: "Order Date", name: "orderDate", type: "date", width: 30, align: "center",editing: false,
                    itemTemplate: function (data) {
                        if(data != null) { return $.datepicker.formatDate('dd/mm/yy', new Date(data)); }
                        else { return false;}
                    }
                },
                {title: "Total Price", name: "totalPrice", type: "number", sorter: "number", min: 0, width: 20, align: "center", editing: false},
                {title: "User", name: "userInfo.fullname", type: "text", width: 40, align: "center" , editing: false},
                {title: "Shipping Address", name: "shippingAddress.address", type: "text", width: 50 , editing: false},
                {title: "Delivery Method", name: "deliveryMethod.name", type: "text", width: 30, align: "center" , editing: false},
                {title: "Status", name: "status", type: "select", width: 20, valueField: "Name", textField: "Name", selectedIndex: 0,
                    items: [
                        { Name: "Pending", Id: "1"},
                        { Name: "Processing", Id: "2"},
                        { Name: "Processed", Id: "3"},
                        { Name: "Done", Id: "4"}
                    ],
                },
                {
                    type: "control",
                    modeSwitchButton: false,
                    editButton: true,
                    deleteButton: false,
                    width: 10,
                }
            ]
        });

        let searchData = function (searchId) {
            return $.ajax({
                type: "GET",
                url: "/api/order-detail/"+ searchId ,
//                headers: {
//                    'Accept': 'application/json',
//                    'Content-Type': 'application/json'
//                },
                dataType: 'json',

            }).done(function (items) {
                //console.log(items);

                $("#order-detail-grid").jsGrid({
                    width: "100%",
                    height: "auto",

                    autoload: true,

                    heading: true,
                    filtering: false,
                    inserting: false,
                    editing: false,
                    sorting: true,
                    paging: true,
                    //pageLoading: true,

                    noDataContent: "No order detail found",

                    pagerContainer: null,
                    pageIndex: 1,
                    pageSize: 10,
                    pageButtonCount: 15,
                    pagerFormat: "Pages: {first} {prev} {pages} {next} {last}    {pageIndex} of {pageCount}",
                    pagePrevText: "Prev",
                    pageNextText: "Next",
                    pageFirstText: "First",
                    pageLastText: "Last",
                    pageNavigatorNextText: "...",
                    pageNavigatorPrevText: "...",

                    loadIndication: true,
                    loadIndicationDelay: 200,
                    loadMessage: "Please, wait...",
                    loadShading: true,

                    updateOnResize: true,
                    controller: {
                        loadData: function() {
                            return items;
                        }
                    },
                    fields: [
                        {title: "Product", name: "productInfo.name", type: "text", width: 50},
                        {title: "Product's Total Price", type: "number", sorter: "number", min: 0, width: 30, align: "center",
                            itemTemplate:function (value, item) {
                                return calculatePrice(item).toFixed(2);
                            }
                        },
                        {title: "Unit Price", name: "unitPrice", type: "number", sorter: "number", min: 0, width: 30, align: "center"},
                        {title: "Quantity", name: "quantity", type: "number", sorter: "number", min: 0, width: 20, align: "center"},
                        {title: "Discount", name: "appliedDiscount", type: "number", sorter: "number", min: 0, width: 20, align: "center"},

                    ]
                });
            });
        }

        let calculatePrice = function (client) {
            return client.unitPrice*client.quantity*(1-(client.appliedDiscount/100));
        }

    });

</script>
</body>

</html>