<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Product - Jennifer's manager section</title>
    <object th:include="common/header :: common-header-manager" th:remove="tag"></object>
</head>

<body>

<div id="wrapper">

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div th:replace="common/navbar :: common-navbar-header-manager" th:remove="tag"></div>
        <div th:replace="common/navbar :: common-navbar-manager" th:remove="tag"></div>
        <div th:replace="common/sidebar :: common-sidebar-manager" th:remove="tag"></div>
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Product</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default animated fadeIn">
                    <div class="panel-heading">
                        <i class="fa fa-cubes"></i> Products
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="product-grid"></div>
                        <div id="detailsDialog">
                            <form id="detailsForm">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input id="name" name="name" type="text" class="form-control"
                                               placeholder="Name"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="unitPrice">Price</label>
                                        <input id="unitPrice" name="unitPrice" type="number" min="0" step="0.01"
                                               class="form-control" placeholder="Price"/>
                                    </div>

                                    <input type="hidden" id="image"/>
                                    <div class="form-group">
                                        <label for="discount">Discount</label>
                                        <input id="discount" name="discount" type="number" min="0" step="1" max="100"
                                               class="form-control" placeholder="Discount"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="quantity">Quantity</label>
                                        <input id="quantity" name="quantity" type="number" min="0" step="1"
                                               class="form-control" placeholder="Quantity"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="status">Status</label>
                                        <select id="status" name="status" class="form-control"></select>
                                    </div>
                                    <div class="form-group">
                                        <label for="category">Category</label>
                                        <select id="category" name="category" class="form-control"></select>
                                    </div>
                                    <div class="form-group text-center">
                                        <button id="save" type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </div>

                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea id="description" name="description" rows="8" class="form-control"
                                                  placeholder="Description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="detail">Detail</label>
                                        <textarea id="detail" name="detail" rows="6" class="form-control"
                                                  placeholder="Detail"></textarea>
                                    </div>
                                </div>
                            </form>
                            <div>
                                <div class="col-lg-4"></div>
                                <div class="col-lg-8">
                                    <div>
                                        <form id="uploadArea" enctype="multipart/form-data" th:action="@{/uploadfile}"
                                              class="dropzone">
                                            <div class="dz-message needsclick">
                                                Drop files here or click to upload.
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<div th:replace="common/footer :: common-footer-scripts-manager" th:remove="tag"></div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    let context = /*[[@{~/}]]*/"";
    /*]]>*/

    $(document).ready(function () {

        var deletedFiles = [], addedFiles = [];
        var uploadLimit = 3;

        // image uploader
        Dropzone.options.uploadArea = false;
        Dropzone.autoDiscover = false;
        let myDropzone = new Dropzone("#uploadArea", {
            acceptedFiles: "image/*",
            url: "/file",
            clickable: true,
            maxFilesize: 2, // MB
            maxFiles: uploadLimit,
            parallelUploads: uploadLimit,
            dictResponseError: 'Error uploading file!',

            addRemoveLinks: true,
            dictRemoveFile: "Delete",
            dictCancelUpload: "Cancel",
            dictCancelUploadConfirmation: "Are you sure to cancel upload?",
            init: function () {
                this.on("success", function (file, serverResponse) {
                    let fileUpload = file.previewElement.querySelector("[data-dz-name]");
                    fileUpload.innerHTML = serverResponse.newFileName;
                    addedFiles.push(serverResponse.newFileName);
                });

                //this.on("error", function(file, message) { alert(message); });
            },
            removedfile: function (file) {
                // get the name of removed file
                let name = file.previewElement.querySelector('[data-dz-name]').innerHTML;

                /*<![CDATA[*/
                if(myDropzone.files.length < uploadLimit)
                    deletedFiles.push(name);

                myDropzone.options.maxFiles += 1; // set remain upload limit
                /*]]>*/

                let _ref;
                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
            }
        });

        // data for jsGrid
        let db = {
            loadData: function (filter) {
                return $.ajax({
                    type: "GET",
                    url: "/api/product",
                    dataType: "json"
                })
            },
            insertItem: function (item) {
                return $.ajax({
                    type: "POST",
                    url: "/api/product",
                    dataType: "json",
                    data: JSON.stringify(item)
                }).done(function (data, textStatus, jqXHR) {
                    alertify.success("Successfully inserted!");
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alertify.error(jqXHR.responseText);
                });
            },
            updateItem: function (item) {
                let myCollection = [];
                $.each(myDropzone.getAcceptedFiles(), function (order, data) {
                    myCollection.push(data.previewElement.querySelector("[data-dz-name]").innerHTML);
                });

                return $.ajax({
                    type: "PUT",
                    url: "/api/product",
                    dataType: "json",
                    data: JSON.stringify(item)
                }).done(function (data, textStatus, jqXHR) {
                    alertify.success("Successfully updated!");
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alertify.error(jqXHR.responseText);
                });
            },
            deleteItem: function (item) {
                if(item.image.length > 0)
                    deleteUploadedFiles(item.image.split(","));

                return $.ajax({
                    type: "DELETE",
                    url: "/api/product",
                    dataType: "json",
                    data: JSON.stringify(item)
                }).done(function (data, textStatus, jqXHR) {
                    alertify.success("Successfully deleted!");
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alertify.error(jqXHR.responseText);
                });
            }
        };

        window.db = db;
        db.status = ["available", "out of stock", "suspended"];
        db.categories = [];

        $("#status").select2({
            allowClear: true,
            width: "100%",
            //minimumInputLength: 2,
            placeholder: "Select a status",
            data: db.status
        });

        // load categories into select
        $.ajax({
            type: "GET",
            url: "/api/category-select2",
            dataType: "json",
            success: function (data) {
                if(data)
                    db.categories = data.items;
                else
                    db.categories = [];
            }
        }).done(function () {
            $("#category").select2({
                allowClear: true,
                width: "100%",
                //minimumInputLength: 2,
                placeholder: "Select a category",
                data: db.categories
            });
        });

        // used when pageLoading = false, used to insert from top of table
        jsGrid.loadStrategies.DirectLoadingStrategy.prototype.finishInsert = function(insertedItem) {
            var grid = this._grid;
            grid.option("data").unshift(insertedItem);
            grid.refresh();
        }


        $("#product-grid").jsGrid({
            width: "100%",
            height: "auto",

            autoload: true,

            heading: true,
            filtering: false,
            inserting: false,
            editing: true,
            sorting: true,
            paging: true,
            pageLoading: false,

            noDataContent: "No product found",
            confirmDeleting: false,
            deleteConfirm: function (item) {
                return "The product \"" + item.name + "\" will be removed. Are you sure?";
            },
            rowClick: function (args) {
                resetForm();
                showDetailsDialog("Edit", args.item);
                $("#save").text("Update product");
            },

            pagerContainer: null,
            pageIndex: 1,
            pageSize: 10,
            pageButtonCount: 15,
            pagerFormat: "Pages: {first} {prev} {pages} {next} {last}    {pageIndex} of {pageCount}",
            pagePrevText: "Prev",
            pageNextText: "Next",
            pageFirstText: "First",
            pageLastText: "Last",
            pageNavigatorNextText: "...",
            pageNavigatorPrevText: "...",

            loadIndication: true,
            loadIndicationDelay: 200,
            loadMessage: "Please, wait...",
            loadShading: true,

            updateOnResize: true,

            controller: db,

            fields: [
                {title: "ID", name: "id", type: "number", width: 30, align: "center"},
                {title: "Name", name: "name", type: "text" },
                {title: "Price", name: "unitPrice", type: "number", sorter: "number", width: 40, align: "center",
                    itemTemplate: function(value) {
                        return value.toFixed(2);
                    }
                },
                {title: "Discount", name: "discount", type: "number", width: 40, align: "center"},
                {
                    title: "Image", name: "image", type: "text", width: 50, align: "center",
                    itemTemplate: function (value, item) {
                        if (value != null) {
                            if (value.length != 0) {

                                let result = $('<div class="review-block" />');
                                let imageData = value.split(",");
                                $.each(imageData, function (order, data) {
                                    let img = new Image(30, 40);
                                    img.src = context + "pics/" + data;
                                    img.className = "review-image";
                                    result.append(img);
                                });
                                result.append($('<div style="clear: left" />'))
                                return result;
                            }
                        }
                    }
                },
                {title: "Quantity", name: "quantity", type: "number", width: 40, align: "center"},
                {
                    title: "Description", name: "description", type: "textarea", width: 120,
                    itemTemplate: function (value, item) {
                        return $.trim(value).substring(0, 34).split(" ").slice(0, -1).join(" ") + "...";
                    }
                },
                {
                    title: "Detail", name: "detail", type: "textarea", width: 120,
                    itemTemplate: function (value, item) {
                        return $.trim(value).substring(0, 34).split(" ").slice(0, -1).join(" ") + "...";
                    }
                },
                {title: "Status", name: "status", type: "text", align: "center", width: 50, autosearch: true},
                {title: "Category", name: "categoryInfo.name", type: "text", width: 60, align: "center"},
                {
                    type: "control",
                    modeSwitchButton: false,
                    editButton: false,
                    width: 30,
                    headerTemplate: function () {
                        return $("<button>").attr("type", "button").text("Add").addClass("btn btn-primary btn-sm").append("</button>")
                            .on("click", function () {
                                resetForm();
                                $("#save").text("Add new product");
                                addedFiles = [];
                                showDetailsDialog("Add", {});
                            });
                    }
                }
            ]
        });

        $("#detailsDialog").dialog({
            autoOpen: false,
            width: "50%",
            maxWidth: "768px",
            close: function (event, ui) {
                resetForm();
                deleteUploadedFiles(addedFiles);
                addedFiles = [];
            }
        });

        function resetForm() {
            $("#detailsForm").validate().resetForm();
            $("#detailsForm").find(".error").removeClass("error");
        }

        function deleteUploadedFiles(files){
            for(let filename of files){
                $.ajax({
                    type: 'DELETE',
                    url: '/file/' + filename
                });
            }
        }

        $("#detailsForm").validate({
            rules: {
                name: "required",
                unitPrice: {required: true, range: [0, 100000]},
                discount: {required: true, range: [0, 100]},
                image: "required",
                quantity: {required: true, range: [0, 100000]},
                description: {required: true, minlength: 10},
                detail: {required: true, minlength: 10},
                status: "required",
                category: "required"
            },
            messages: {
                name: "Please enter name",
                unitPrice: "Please enter valid price",
                image: "Please enter valid image",
                discount: "Please enter discount",
                quantity: "Please enter quantity",
                description: "Please enter description (more than 10 chars)",
                detail: "Please enter detail (more than 10 chars)",
                status: "Please select status",
                category: "Please select category"
            },
            submitHandler: function () {
                formSubmitHandler();
            }
        });

        let formSubmitHandler = $.noop;

        let showDetailsDialog = function (dialogType, client) {
            $("#name").val(client.name);
            $("#unitPrice").val(client.unitPrice);
            $("#discount").val(client.discount);

            // add image to Dropzone
            /*<![CDATA[*/
            if (client.image != null && client.image.length > 0) {
                let imageData = client.image.split(",");
                for( let file of myDropzone.files ){ // loop through old list, then clear all
                    let _ref;
                    if ((_ref = file.previewElement) != null) {
                        _ref.parentNode.removeChild(file.previewElement);
                    }
                }

                deletedFiles = []; // reset deleted list
                myDropzone.files = []; // reset current files in DropZone
                myDropzone.options.maxFiles = uploadLimit; // reset upload limit to origin

                $.each(imageData, function (order, data) {
                    let mockFile = { name: data }; // create list of mock files

                    // add uploaded images from server
                    myDropzone.options.addedfile.call(myDropzone, mockFile);
                    myDropzone.createThumbnailFromUrl(mockFile, context + "pics/" + data);
                    myDropzone.emit("complete", mockFile);

                    myDropzone.files.push(mockFile); // add mock file into an managed array
                    myDropzone.options.maxFiles = myDropzone.options.maxFiles - 1; // set remain upload limit

                });
            } else {
                for( let file of myDropzone.files ){ // loop through old list, then clear all
                    let _ref;
                    if ((_ref = file.previewElement) != null) {
                        _ref.parentNode.removeChild(file.previewElement);
                    }
                }
                deletedFiles = []; // reset deleted list
                myDropzone.files = []; // reset current files in DropZone
                myDropzone.options.maxFiles = uploadLimit; // reset upload limit to origin
            }
            /*]]>*/

            $("#quantity").val(client.quantity);
            $("#description").val(client.description);
            $("#detail").val(client.detail);
            $("#status").val(client.status).trigger("change");
            if (client.categoryInfo === undefined)
                $("#category").val('').trigger('change');
            else
                $("#category").val(client.categoryInfo.id).trigger("change");

            formSubmitHandler = function () {
                saveClient(client, dialogType === "Add");
            };

            $("#detailsDialog").dialog("option", "title", dialogType + " Product").dialog("open");
        };


        let saveClient = function (client, isNew) {
            var imageList;

            /*<![CDATA[*/
            if(client.image != null && client.image.length > 0)
                imageList = client.image.split(",");
            else
                imageList = [];
            /*]]>*/

            if(deletedFiles.length > 0){
                deleteUploadedFiles(deletedFiles);
                imageList = imageList.filter((val) => !deletedFiles.includes(val));
            }
            if(addedFiles.length > 0){
                addedFiles = addedFiles.filter((val) => !deletedFiles.includes(val));
                imageList = imageList.concat(addedFiles);
            }

            $.extend(client, {
                name: $("#name").val(),
                unitPrice: parseFloat($("#unitPrice").val()),
                discount: parseInt($("#discount").val(), 10),
                image: imageList.toString(),
                quantity: parseInt($("#quantity").val(), 10),
                description: $("#description").val(),
                detail: $("#detail").val(),
                status: $("#status").val(),
                categoryInfo: $("#category").val()
            });

            $("#product-grid").jsGrid(isNew ? "insertItem" : "updateItem", client);

            deletedFiles = [];
            addedFiles = [];
            $("#product-grid").trigger("reloadGrid");
            $("#detailsDialog").dialog("close");
        };
    });

</script>

</body>

</html>
