<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Shipping Address - Jennifer: Manager section</title>
    <object th:include="common/header :: common-header-manager" th:remove="tag"></object>
</head>

<body>
<div id="wrapper">

    <nav class="navbar narbar-default navbar-static-top" role="navigation">
        <div th:replace="common/navbar :: common-navbar-header-manager" th:remove="tag"></div>
        <div th:replace="common/navbar :: common-navbar-manager" th:remove="tag"></div>
        <div th:replace="common/sidebar :: common-sidebar-manager" th:remove="tag"></div>
    </nav> <!-- /.nav -->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Shipping Address</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-map-marker"></i> Shipping Address
                    </div><!-- /.panel-heading -->

                    <div class="panel-body">
                        <div id="shipping-address-grid"></div> <!-- for shipping-address table -->

                    </div><!-- /.panel-body -->
                </div>  <!-- /.panel -->

            </div><!-- /.col-lg-12 -->

        </div><!-- /.row -->

    </div><!-- /#page-wrapper -->

</div> <!-- /#wrapper -->

<div th:replace="common/footer :: common-footer-scripts-manager" th:remove="tag"></div>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    let context = /*[[@{~/}]]*/"";
    /*]]>*/

    $(function () {
        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
    });

    $(document).ready(function () {
        let db = {
            loadData: function (filter) { // load data from db
                let d = $.Deferred();

                $.ajax({
                    type: "GET",
                    url: "/api/shipping-address",
                    data: filter,
                    dataType: "json"
                }).done(function (response) {
                    setTimeout(function () {
                        d.resolve(response);
                    }, 1000);
                });

                return d.promise();
            }

        };

        window.db = db;

        $("#shipping-address-grid").jsGrid({
            width: "100%",
            height: "auto",

            autoload: true,

            heading: true,
            filtering: false,
            inserting: false,
            editing: false,
            sorting: true,
            paging: true,
            //pageLoading: true,

            noDataContent: "No shipping address found",

            pagerContainer: null,
            pageIndex: 1,
            pageSize: 10,
            pageButtonCount: 15,
            pagerFormat: "Pages: {first} {prev} {pages} {next} {last}    {pageIndex} of {pageCount}",
            pagePrevText: "Prev",
            pageNextText: "Next",
            pageFirstText: "First",
            pageLastText: "Last",
            pageNavigatorNextText: "...",
            pageNavigatorPrevText: "...",

            loadIndication: true,
            loadIndicationDelay: 200,
            loadMessage: "Please, wait...",
            loadShading: true,

            updateOnResize: true,

            controller: db,

            fields: [
                {title: "ID", name: "id", type: "number", width: 20, align: "center"},
                {title: "Recipient", name: "recipient", type: "text", width: 50},
                {title: "Address", name: "address", type: "text", width: 50},
                {title: "City", name: "city", type: "text", width: 35, align: "center"},
                {title: "Postal code", name: "postalCode", type: "text", width: 30, align: "center"},
                {title: "User", name: "userInfo.fullname", type: "text", width: 40, align: "center" }
            ]
        });
    });

</script>
</body>

</html>